body {
    overflow-x: hidden;
    background-color: #f6fffa;
    font-family: "Times New Roman";

}

.sachin {
    /*height: 80%;*/
    width: 100%;
    opacity: 0.7;
}

.first_sec {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sec_section {
    font-size: 3rem;
    position: absolute;
    top: 9rem;
    left: 4rem;


}

.btn {
    border-style: solid;
    text-align: center;
    background: #F05E23 none;
    font-size: 1.5rem;
    position: relative;
    margin-top: 1.5rem;
    color: white;

}

.chart {
    padding: 2rem;
}

.team-card {
    min-height: 150px;
    width: 205px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    transition: all 300ms ease-in-out;
}

.team-card:hover {
    min-height: 130px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 15px;
    height: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #0088fe;
    height: 3.5px;
}

::-webkit-scrollbar-corner {
    display: none;
    height: 0px;
    width: 0px;
}

@media (max-width: 1200px) {
    .bar-chart, .pie-chart, .line-chart {
        border-style: none !important;
    }
}

.bar-chart, .pie-chart, .line-chart {
    border-radius: 8px;
    box-shadow: 0 -4px 40px rgba(0, 0, 0, 0.1);
}
